:root{
    --red : hsl(0, 78%, 62%);
    --cyan : hsl(180, 62%, 55%);
    --orange : hsl(34, 97%, 64%);
    --blue : hsl(212, 86%, 64%);
    --very-dark-blue : hsl(234, 12%, 34%);
    --grayish-blue : hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%); 
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    background-color: var(--very-light-gray);

}
.text{
    text-align: center;
    margin: 20px auto;

}
.text .light{
    color: var(--grayish-blue);
    padding: 5px;
    font-size: 30px;
}
.bold{
    margin: 15px;
    color: var(--very-dark-blue);
    text-align: center;
}
.paragraph{
    font-size: 12px;
    color: var(--grayish-blue);

}
.card__section{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 150px;
    width: 240px;
    box-shadow: 0px 2px 10px 0px var(--grayish-blue);
    margin: 10px;
    
    padding: 30px 40px;
    background-color: #fff;
}
.card h4{
    color: var(--very-dark-blue);
}
.card p{
    color: var(--grayish-blue);
    font-size: 12px;
    padding-top: 12px;

}
.card img{
    height: 50px;
    float: right;
    padding-top: 15px;
}
.card__one{
    border-top: 3px solid var(--cyan);
}
.card__two{
    border-top: 3px solid var(--red);
}
.card__three{
    border-top: 3px solid var(--orange);
}
.card__four{
    border-top: 3px solid var(--blue)
}
@media (max-width: 1042px){
    .card__section{
        flex-direction: column;
    }
    .paragraph{
        width: 70%;
    }
}